apiVersion: v1
kind: Namespace
metadata:
  name: {{ kubebench_namespace }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ kubebench_nginx_name }}
  namespace: {{ kubebench_namespace }}
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: {{ kubebench_nginx_name }}
  template:
    metadata:
      labels:
        app: {{ kubebench_nginx_name }}
    spec:
      containers:
        - name: nginx
          image: {{ kubebench_nginx_image }}
          ports:
            - containerPort: 80
          volumeMounts:
            - name: kube-bench-report
              mountPath: /usr/share/nginx/html
              readOnly: true
      volumes:
        - name: kube-bench-report
          hostPath:
            path: {{ kubebench_reports_dir }}
            type: Directory
---
apiVersion: v1
kind: Service
metadata:
  name: {{ kubebench_nginx_name }}
  namespace: {{ kubebench_namespace }}
spec:
  selector:
    app: {{ kubebench_nginx_name }}
  ports:
    - name: http
      port: {{ kubebench_service_port }}
      targetPort: 80
  type: ClusterIP