[defaults]
roles_path = roles
inventory = inventory/hosts.yaml

private_key_file = /home/tati/.ssh/playground/id_ed25519

# “Unless told otherwise, SSH to remote hosts as ansible. Overridden by ansible_user in inventory/group_vars/all.yaml”
remote_user = root
host_key_checking = True

collections_paths = ./collections